
<div class="container">
    <h3>Enter Menu details</h3>
    <form #add="ngForm" (ngSubmit)="addMenu(add)">
      <div>
        <div class="form-group">
            <input 
              type="number" 
              class="form-control" 
              id="id" 
              placeholder="Menu ID"
              name="id"
              #name="ngModel"
              required
              [(ngModel)]="menu.id"
              >
            </div>
        <div class="form-group">
            <input 
              type="number" 
              class="form-control" 
              id="user_id" 
              placeholder="User ID"
              name="user_id"
              #id="ngModel"
              required
              [(ngModel)]="menu.user.id"
              >
            </div>






                          
        <button type="submit" class="btn btn-primary">ADD</button>
      <form></form>
    </div>
    
